@import url("https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");
.inline-block {
  display: inline-block !important; }

.text-dark-blue {
  color: #002849 !important; }

.text-light-blue {
  color: #00baff !important; }

.text-white {
  color: #ffffff !important; }

.text-900 {
  font-weight: 900; }

.text-13 {
  font-size: 13px; }

.font-27 {
  font-size: 27px; }

.pr-10 {
  padding-right: 10px; }

.pr-20 {
  padding-right: 20px; }

.pt-20 {
  padding-top: 20px; }

.pt-40 {
  padding-top: 40px; }

.pb-20 {
  padding-bottom: 20px; }

.pb-40 {
  padding-bottom: 40px; }

.mt-20 {
  margin-top: 20px; }

.mb-20 {
  margin-bottom: 20px; }

.btn-white {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0;
  background: transparent;
  padding: 7px 20px;
  font-weight: 600; }
  .btn-white:hover {
    background: #ffffff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

.btn-blue {
  color: #ffffff;
  border: 1px solid #00baff;
  border-radius: 0;
  background: #00baff;
  padding: 7px 40px;
  font-weight: 600; }
  .btn-blue:hover {
    background: #002849;
    border-color: #00baff;
    color: #ffffff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background: #EBEBEB; }
  body p {
    font-size: 14px; }

.navigation {
  background: #ffffff; }
  .navigation .navbar {
    padding: 0;
    height: 89px; }
    .navigation .navbar .container {
      justify-content: space-between;
      position: relative; }
      @media (max-width: 1199px) {
        .navigation .navbar .container {
          justify-content: space-between; } }
      .navigation .navbar .container .toggle-menu {
        display: none;
        cursor: pointer; }
        @media (max-width: 1199px) {
          .navigation .navbar .container .toggle-menu {
            display: block;
            margin-top: -30px; } }
      .navigation .navbar .container .topbar {
        position: absolute;
        width: auto;
        height: 30px;
        top: 0;
        right: 22px;
        padding: 10px 15px 0;
        font-size: 11px; }
        @media (max-width: 1199px) {
          .navigation .navbar .container .topbar {
            right: 0;
            top: 50px; } }
      .navigation .navbar .container .logo-wrapper {
        position: relative;
        background: #002849;
        padding: 15px 0;
        z-index: 1; }
        .navigation .navbar .container .logo-wrapper a img {
          width: 100px; }
        .navigation .navbar .container .logo-wrapper:before {
          content: "";
          display: inline-block;
          width: 1000px;
          height: 89px;
          background: #002849;
          background-repeat: no-repeat;
          position: absolute;
          left: -999px;
          top: 0; }
        .navigation .navbar .container .logo-wrapper:after {
          content: " ";
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: -1;
          background: #002849;
          transform-origin: bottom left;
          -ms-transform: skew(-30deg, 0deg);
          -webkit-transform: skew(-40deg, 0deg);
          transform: skew(-40deg, 0deg); }
      .navigation .navbar .container .main-navigation {
        height: 89px;
        overflow: hidden; }
        @media (max-width: 1199px) {
          .navigation .navbar .container .main-navigation {
            visibility: hidden;
            width: 100px; } }
        .navigation .navbar .container .main-navigation li {
          padding: 35px 20px; }
          @media (max-width: 1199px) {
            .navigation .navbar .container .main-navigation li {
              width: 100%;
              padding: 7px;
              border-bottom: 1px solid #00baff; }
              .navigation .navbar .container .main-navigation li:last-child {
                border-bottom: none; } }
          .navigation .navbar .container .main-navigation li a {
            color: #002849;
            font-size: 14px;
            font-weight: 500; }
            .navigation .navbar .container .main-navigation li a:hover {
              text-decoration: none;
              color: #00baff;
              -webkit-transition: all 0.2s ease-in-out;
              -moz-transition: all 0.2s ease-in-out;
              -ms-transition: all 0.2s ease-in-out;
              -o-transition: all 0.2s ease-in-out;
              transition: all 0.2s ease-in-out; }
        .navigation .navbar .container .main-navigation .active {
          border-bottom: 3px solid #00baff; }
          @media (max-width: 1199px) {
            .navigation .navbar .container .main-navigation .active {
              border-bottom: 1px solid #00baff; } }
          .navigation .navbar .container .main-navigation .active a {
            color: #00baff; }
      @media (max-width: 1199px) {
        .navigation .navbar .container .opened {
          visibility: visible;
          height: 275px;
          padding-left: 0;
          margin-left: 0;
          width: 100%;
          flex-direction: column;
          position: absolute;
          top: 89px;
          left: 0;
          background: #ffffff;
          border: 1px solid #00baff;
          border-top: 0;
          z-index: 50;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; } }

.header {
  height: 550px;
  min-height: 550px;
  background-size: cover;
  background-position-y: bottom; }
  .header .container {
    height: 100%;
    position: relative; }
    .header .container .content {
      width: 60%;
      height: inherit;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      padding: 40px 0; }
      @media (max-width: 991px) {
        .header .container .content {
          width: auto; } }
      .header .container .content .backslash {
        width: 86px;
        margin: 0 auto; }
      .header .container .content .title {
        font-weight: 900;
        font-size: 48px; }
      .header .container .content a {
        display: block;
        margin: 0 auto;
        max-width: 300px; }

.services {
  min-height: 500px;
  background: #ffffff; }
  .services .center-service:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 50%;
    background: #e2e2e2;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0; }
    @media (max-width: 991px) {
      .services .center-service:before {
        display: none; } }
  .services .center-service:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 55%;
    background: #e2e2e2;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0; }
    @media (max-width: 991px) {
      .services .center-service:after {
        display: none; } }

.news {
  min-height: 550px;
  background-size: cover;
  background-position-y: bottom; }
  .news .news-big .news-item {
    background: #ffffff; }
    .news .news-big .news-item .big-content {
      padding: 20px; }
      .news .news-big .news-item .big-content img {
        margin-bottom: 2px; }
  .news .news-small {
    display: flex;
    flex-direction: column; }
    .news .news-small .news-item-small {
      display: flex;
      flex-direction: row;
      background: #ffffff;
      height: auto; }
      @media (max-width: 991px) {
        .news .news-small .news-item-small {
          flex-direction: column; } }
      .news .news-small .news-item-small:first-child {
        margin-bottom: 20px; }
      .news .news-small .news-item-small .news-small-img {
        width: auto; }
        @media (max-width: 991px) {
          .news .news-small .news-item-small .news-small-img img {
            width: 100%; } }
      .news .news-small .news-item-small .news-small-content {
        position: relative;
        padding: 12px; }
        .news .news-small .news-item-small .news-small-content #triangle-bottomright {
          width: 0;
          height: 0;
          border-bottom: 100px solid #ffffff;
          border-left: 100px solid transparent;
          position: absolute;
          bottom: 0;
          left: -100px; }
          @media (max-width: 991px) {
            .news .news-small .news-item-small .news-small-content #triangle-bottomright {
              display: none; } }
        .news .news-small .news-item-small .news-small-content .img-date {
          position: absolute;
          background: transparent;
          height: 60px;
          width: 30px;
          bottom: 0;
          left: -40px;
          text-align: center; }
          @media (max-width: 991px) {
            .news .news-small .news-item-small .news-small-content .img-date {
              display: none; } }
          .news .news-small .news-item-small .news-small-content .img-date span {
            display: block;
            margin-top: -5px; }

.references {
  min-height: 500px;
  background: #ffffff; }

.clients .client-item .client-item-content {
  padding-left: 70px;
  margin-top: -70px; }

.partners {
  background: #ffffff; }

.contact {
  background-size: cover; }
  .contact .button-wrapper {
    display: flex;
    align-items: center; }
    @media (min-width: 991px) {
      .contact .button-wrapper a {
        margin-left: auto; } }

.footer {
  background: #ffffff; }
  .footer ul {
    list-style: none; }

.scroll-to-top {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 20px;
  right: 20px; }
  .scroll-to-top img {
    width: 30px;
    height: 30px; }

/*# sourceMappingURL=style.css.map */
