.btn-white
  color: $white
  border: 1px solid $white
  border-radius: 0
  background: transparent
  padding: 7px 20px
  font-weight: 600
  &:hover
    background: $white
    @include transition

.btn-blue
  color: $white
  border: 1px solid $light-blue
  border-radius: 0
  background: $light-blue
  padding: 7px 40px
  font-weight: 600
  &:hover
    background: $dark-blue
    border-color: $light-blue
    color: $white
    @include transition
