body
  padding: 0
  margin: 0
  overflow-x: hidden
  background: #EBEBEB
  p
    font-size: 14px

// NAVIGATION
.navigation
  background: $white
  .navbar
    padding: 0
    height: 89px
    .container
      justify-content: space-between
      position: relative
      @media (max-width: $break-md)
        justify-content: space-between
      .toggle-menu
        display: none
        cursor: pointer
        @media (max-width: $break-md)
          display: block
          margin-top: -30px
      .topbar
        position: absolute
        width: auto
        height: 30px
        top: 0
        right: 22px
        padding: 10px 15px 0
        font-size: 11px
        @media (max-width: $break-md)
          right: 0
          top: 50px
      .logo-wrapper
        position: relative
        background: $dark-blue
        padding: 15px 0
        z-index: 1
        a
          img
            width: 100px
        &:before
          content: ""
          display: inline-block
          width: 1000px
          height: 89px
          background: #002849
          background-repeat: no-repeat
          position: absolute
          left: -999px
          top: 0
        &:after
          content: " "
          position: absolute
          display: block
          width: 100%
          height: 100%
          top: 0
          left: 0
          z-index: -1
          background: $dark-blue
          transform-origin: bottom left
          -ms-transform: skew(-30deg, 0deg)
          -webkit-transform: skew(-40deg, 0deg)
          transform: skew(-40deg, 0deg)
      .main-navigation
        height: 89px
        overflow: hidden
        @media (max-width: $break-md)
          visibility: hidden
          width: 100px
        li
          padding: 35px 20px
          @media (max-width: $break-md)
            width: 100%
            padding: 7px
            border-bottom: 1px solid $light-blue
            &:last-child
              border-bottom: none
          a
            color: $dark-blue
            font-size: 14px
            font-weight: 500
            &:hover
              text-decoration: none
              color: $light-blue
              @include transition
        .active
          border-bottom: 3px solid $light-blue
          @media (max-width: $break-md)
            border-bottom: 1px solid $light-blue
          a
            color: $light-blue
      @media (max-width: $break-md)
        .opened
          visibility: visible
          height: 275px
          padding-left: 0
          margin-left: 0
          width: 100%
          flex-direction: column
          position: absolute
          top: 89px
          left: 0
          background: $white
          border: 1px solid $light-blue
          border-top: 0
          z-index: 50
          @include transition

// HEADER
.header
  height: 550px
  min-height: 550px
  background-size: cover
  background-position-y: bottom
  .container
    height: 100%
    position: relative
    .content
      width: 60%
      height: inherit
      margin: 0 auto
      display: flex
      flex-direction: column
      align-content: center
      justify-content: center
      padding: 40px 0
      @media (max-width: $break-sm)
        width: auto
      .backslash
        width: 86px
        margin: 0 auto
      .title
        font-weight: 900
        font-size: 48px
      a
        display: block
        margin: 0 auto
        max-width: 300px

// SERVICES
.services
  min-height: 500px
  background: $white
  .center-service
    &:before
      content: ""
      display: inline-block
      width: 1px
      height: 50%
      background: #e2e2e2
      background-repeat: no-repeat
      position: absolute
      left: 0
      top: 0
      @media (max-width: $break-sm)
        display: none
    &:after
      content: ""
      display: inline-block
      width: 1px
      height: 55%
      background: #e2e2e2
      background-repeat: no-repeat
      position: absolute
      right: 0
      top: 0
      @media (max-width: $break-sm)
        display: none

// NEWS
.news
  min-height: 550px
  background-size: cover
  background-position-y: bottom
  .news-big
    .news-item
      background: $white
      .big-content
        padding: 20px
        img
          margin-bottom: 2px
  .news-small
    display: flex
    flex-direction: column
    .news-item-small
      display: flex
      flex-direction: row
      background: $white
      height: auto
      @media (max-width: $break-sm)
        flex-direction: column
      &:first-child
        margin-bottom: 20px
      .news-small-img
        width: auto
        @media (max-width: $break-sm)
          img
            width: 100%
      .news-small-content
        position: relative
        padding: 12px
        #triangle-bottomright
          width: 0
          height: 0
          border-bottom: 100px solid $white
          border-left: 100px solid transparent
          position: absolute
          bottom: 0
          left: -100px
          @media (max-width: $break-sm)
            display: none
        .img-date
          position: absolute
          background: transparent
          height: 60px
          width: 30px
          bottom: 0
          left: -40px
          text-align: center
          @media (max-width: $break-sm)
            display: none
          span
            display: block
            margin-top: -5px

// REFERENCES
.references
  min-height: 500px
  background: $white

//CLIENTS
.clients
  .client-item
    .client-item-content
      padding-left: 70px
      margin-top: -70px

// PARTNERS
.partners
  background: $white

// CONTACT
.contact
  background-size: cover
  .button-wrapper
    display: flex
    align-items: center
    a
      @media (min-width: $break-sm)
        margin-left: auto

// FOOTER
.footer
  background: $white
  ul
    list-style: none

.scroll-to-top
  width: 30px
  height: 30px
  position: fixed
  bottom: 20px
  right: 20px
  img
    width: 30px
    height: 30px











