.inline-block
  display: inline-block !important


.text-dark-blue
  color: $dark-blue !important

.text-light-blue
  color: $light-blue !important

.text-white
  color: $white !important

.text-900
  font-weight: 900

.text-13
  font-size: 13px


.font-27
  font-size: 27px



.pr-10
  padding-right: 10px

.pr-20
  padding-right: 20px

.pt-20
  padding-top: 20px

.pt-40
  padding-top: 40px

.pb-20
  padding-bottom: 20px

.pb-40
  padding-bottom: 40px





.mt-20
  margin-top: 20px

.mb-20
  margin-bottom: 20px
