// BORDER RADIUS
=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius

// BOX SHADOW
=box-shadow($properties...)
  -webkit-box-shadow: $properties
  -moz-box-shadow: $properties
  box-shadow: $properties

// TRANSITION
=transition
  -webkit-transition: all 0.2s ease-in-out
  -moz-transition: all 0.2s ease-in-out
  -ms-transition: all 0.2s ease-in-out
  -o-transition: all 0.2s ease-in-out
  transition: all 0.2s ease-in-out